/* Image Preprocessing */

h4 {
  text-align: center
}

/* Stable Diff */
.clickable_image_button {
  background-color: transparent;
  border: none;
}

#generate_diff_imges {
  margin-bottom: 20px; 
  color: #ffffff;
  width: 60vw; 
  display: block; 
  margin: auto;
}

.center_image {
  display: block;
  margin: auto;
}

/* Preprocessing */
.row_with_images {
  padding: 0px 5px 5px 0px;
}



/* Image to GCode */
.gcode_param_div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 5px 0 5px 0;
}

.gcode_param_label {
  text-align: left;
  width: 100%;
}

.card_image_to_gcode {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin:  25px auto;
}

.gcode_style {
  color: black;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  color: #000000;
  margin-left: 10px;
}

.gcode_status_icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center
}

.gcode_status_success {
  background-color: green;
}

.gcode_status_error {
  background-color: red;
}

.show_gcode_button {
  width: 60vw; 
  margin: auto; 
  margin-bottom: 20px; 
  color: #ffffff;
}






.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #222;
  border-radius: 10px;
}

.button {
  width: 150px;
  height: 50px;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #0077ff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #00aaff;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 5px #00aaff;
}

.button:active {
  background-color: #0055cc;
}


.info-icon {
  color: black;
  background-color: white; /*#303030;*/
  padding: 5px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.info-icon:hover{
  cursor: pointer;
  background-color: #dad4d4;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
